 
 body{
   font-family: 'Courier New', Courier, monospace;
 }

 a {
   text-decoration: none;
 }

 .header h1{
   float: left;
 }

 img {
   width: 50%;
   height: auto;
 }

 .small-img {
   width: 10%;
   height: auto;
 }

  /* Full-width inputs */
  input[type=text], input[type=password], textarea, input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }

  .login-btn{
    float: right;
  }
  
  .logout-btn{
    float: right;
    background-color: #f44336;
  }

  .normal-btn{
    float: right;
    background-color: #3A7CA5;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  #form{
      width: 25%;
      border: 3px solid #f1f1f1;
      margin: auto;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    width: 98%;
  }

  .success {
    background-color: #4CAF50;
    color: white;
  }

  .danger {
    background-color: #f44336;
    color: white;
  }

  .header {
    background-color: #16425B;
    height: 12%;
    overflow: hidden;
    width: 100%;
  }

  .header a, .nav-bar a{
    color: white;
  }

  .body{
    background-color: #D9DCD6;
    overflow: auto;
  }

  .nav-bar {
    background-color: #3A7CA5;
    width: 25%;
    float: left;
    height: 90%;
  }

  .content {
    float: right;
    width: 75%;
  }

  .footer{
    background-color: #16425B;
    height: 10%;
    width: 100%;
  }

  ul {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd){background-color: white}
  tr:nth-child(even){background-color: #f1f1f1}
  
  th {
    background-color: #3A7CA5;
    color: white;
  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  
  /* Change styles for extra small screens */
  @media screen and (max-width: 768px) {
    #form{
        width: 100%;
    }
  }
  